<mat-card class="setup-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon aria-hidden="false" class="setup-icon">update</mat-icon>
      </div>
      <mat-card-title>Setup</mat-card-title>
      <mat-card-subtitle>Step 1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Beat On will now uninstall Beat Saber to prepare for modding process to add custom levels to Beat Saber
    </mat-card-content>
    <mat-card-actions>
      <button (click)="clickBegin()" mat-raised-button color="accent">Uninstall Beat Saber</button>
    </mat-card-actions>
  </mat-card>