<mat-card class="setup-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon aria-hidden="false" class="setup-icon">update</mat-icon>
      </div>
      <mat-card-title>Setup</mat-card-title>
      <mat-card-subtitle>Introduction</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h4>Welcome to Beat On!</h4>
      <p>Beat On will modify and reinstall your copy of Beat Saber so that it can support custom songs and some additional modifications.  
        After the modifications to Beat Saber during the setup process, Beat On will allow you to download songs on the Quest from this app, upload songs from your computer, manage custom playlists from the Quest or your computer's browser and install some types of other modifications.</p>

        <h4>This version of Beat On is intended for Beat Saber version 1.1.0!</h4>
        <p>It is remotely possible that it may work with future versions of Beat Saber without modification, however it is highly likely that if a new version of Beat Saber has been released, this will result in a Beat Saber that doesn't work and you will need to wait for an update to Beat On.</p>
        <br />
        <p style="color: orangered">If at any point you have problems with Beat Saber or Beat On, uninstalling Beat Saber (either through Beat On or another tool like adb) and reinstalling Beat Saber from the Oculus Store will revert Beat Saber back to normal.</p>
          
    </mat-card-content>
    <mat-card-actions>
      <button fast-click routerLink="/setupstep1" routerLinkActive="active" mat-raised-button color="accent">Continue</button>
    </mat-card-actions>
  </mat-card>