<mat-card class="setup-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon aria-hidden="false" class="setup-icon">sync</mat-icon>
    </div>
    <mat-card-title>SyncSaber Feeds</mat-card-title>
    <mat-card-subtitle>Automatic feed sync from online song feeds.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <div class="outer-container">
        <div class="left-col">
          <div class="right-select-all">Max Songs</div>
          <h1>What's Popular

            <mat-slide-toggle
              class="enable-all"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              Enable All
            </mat-slide-toggle>
          </h1>
          <hr>
          <div class="left-padd-gate">
            <app-sync-saber-max-songs class="right"></app-sync-saber-max-songs>
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              BeatSaver's Hot
            </mat-slide-toggle>
            <br><br>
            <app-sync-saber-max-songs class="right"></app-sync-saber-max-songs>
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              BeatSaver's Latest
            </mat-slide-toggle>
            <br><br>
            <app-sync-saber-max-songs class="right"></app-sync-saber-max-songs>
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              BeatSaver's Songs by Download
            </mat-slide-toggle>
            <br><br>
            <app-sync-saber-max-songs class="right"></app-sync-saber-max-songs>
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              BeastSaber's Curator Recommended
            </mat-slide-toggle>
            <br><br>
            <app-sync-saber-max-songs class="right"></app-sync-saber-max-songs>
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              ScoreSaber's Top Played
            </mat-slide-toggle>
            <br><br>
            <app-sync-saber-max-songs class="right"></app-sync-saber-max-songs>
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              ScoreSaber's Trending
            </mat-slide-toggle>


          </div>


          <br><br><br>
          <div class="right-select-all">Max Songs</div>
          <h1>For a Challenge

            <mat-slide-toggle
              class="enable-all"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              Enable All
            </mat-slide-toggle></h1>
          <hr>
          <div class="left-padd-gate">
            <app-sync-saber-max-songs class="right"></app-sync-saber-max-songs>
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              ScoreSaber's Latest
            </mat-slide-toggle>
            <br><br>
            <app-sync-saber-max-songs class="right"></app-sync-saber-max-songs>
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              ScoreSaber's Top Ranked
            </mat-slide-toggle>
          </div>
        </div>
        <div class="right-col">
          <div class="right-select-all">Max Songs</div>
          <h1>For Me

            <mat-slide-toggle
              class="enable-all"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              Enable All
            </mat-slide-toggle></h1>
          <hr>

          <div class="left-padd-gate">
            <app-sync-saber-max-songs class="right"></app-sync-saber-max-songs>
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              BeastSaber's Following
            </mat-slide-toggle>
            <br><br>
            <app-sync-saber-max-songs class="right"></app-sync-saber-max-songs>
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              BeastSaber's Bookmarks
            </mat-slide-toggle>
            <br><br>
            <app-sync-saber-max-songs class="right"></app-sync-saber-max-songs>
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              BeatSaver's Authors
            </mat-slide-toggle>
          </div>
          <br><br><br>
          <h1>My Username</h1>
          <hr>
          <div class="username-container">
            <br><br><br>
            <mat-form-field class="input-width">
              <input matInput placeholder="Beast Saber Username" value="">
            </mat-form-field>
          </div>
        </div>
      </div>


      <mat-card-actions class="right-align">
        <!--<button color="primary" mat-raised-button>Sync Now</button>-->
      </mat-card-actions>
    </mat-card>
  </mat-card-content>

</mat-card>
