<!--The content below is only a placeholder and can be replaced.-->
<div class="fullheight"  fxLayout="column">
<mat-toolbar layout="row">
    <span>Beat On!</span>
    <span class="example-fill-remaining-space" style="flex: 2 1 auto;"></span>
    <button [disabled]="opInProgress" *ngIf="config?.IsCommitted === false" (click)="commitConfig()" class="warning">
      Sync to Beat Saber
    </button>
    <button mat-button *ngIf="config?.IsCommitted === true" >Beat Saber Synced</button>
    <span class="example-fill-remaining-space" style="flex: 1 1 auto;"></span>
    <app-download-indicator></app-download-indicator>
    <span class="example-fill-remaining-space" style="flex: 1 1 auto;"></span>
    <app-op-indicator></app-op-indicator>
    <span class="example-fill-remaining-space" style="flex: 1 1 auto;"></span>
    <button @fade *ngIf="showRefreshButton" mat-button ><mat-icon>cached</mat-icon></button>
    <span class="example-fill-remaining-space" style="flex: 1 1 auto;"></span>
    <button @fade *ngIf="showBackButton" mat-button><mat-icon>arrow_back</mat-icon></button> 
    <div (click)="reconnect()" class="connectionStatus" [ngStyle]="{'color': getConnStatusColor()}"><mat-icon class="nowifi" *ngIf="!getConnStatusIcon()">close</mat-icon><mat-icon class="wifi" >wifi</mat-icon></div>
  </mat-toolbar>

<mat-card fxLayout="column" *ngIf="!modStatusLoaded" class="setup-card">
    
<div fxLayout="column" *ngIf="!modStatusLoaded" >
  <h2>Checking mod installation status...</h2>
  <p></p>
  <h3>Credits to folks in BSMG while you wait:</h3>
  <ul>
    <li>Sc2ad: code contributor, code reviewer, lots of work on hook mods, lots of discussion and feedback</li>
    <li>jakibaki: beat-saber hook (making the really cool stuff possible)</li>
    <li>Agent42: extraordinary testing and support (if it works at all, thank him)</li>
    <li>Yuuki: code contributor, code documentarian</li>
    <li>lolpants: everything.  Also, soon songe converter for old to new song format conversion</li>
    <li>elliotttate: inspiration, support and art</li>    
  </ul>
  
</div>
</mat-card>
<div class="fullheight"  fxLayout="column">
<router-outlet fxLayout="column" [hidden]="!modStatusLoaded" ></router-outlet>
</div>
</div>

