.app-content {
    display: block;
    height: 100%;
  }
.goodCon {
  color: green;
}
.badCon {
  color: red;
}
.orangeCon {
  color: orange
}
.logo {
  background: url("../assets/logo.png") no-repeat center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 50px;
  width: 150px;

}
.nowifi {
  position: absolute;
  top: -2px;
  left: -2px;
  color: red;
  font-size:32px;
  //text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.credits li {
  margin-bottom: 15px;
}
.connectionStatus {
  margin-top: 9px;
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.wifi {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size:32;
}
 .warning {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
  
  @keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }