<div class="fullheight"  fxLayout="column">
  <mat-toolbar class="toolbar">
    <div matTooltip="Current connection status.  Click to reconnect." (click)="reconnect()" class="connectionStatus right" [ngStyle]="{'color': getConnStatusColor()}"><mat-icon class="nowifi" *ngIf="!getConnStatusIcon()">close</mat-icon><mat-icon class="wifi" >wifi</mat-icon></div>
    <!-- this one is intentionally not fast-click -->
    <button (click)="resetConfig()" matTooltip="Undo all pending changes instead of syncing them." disabled="{{ config?.IsCommitted === true || disableSync()}}" class="right undo-spot" mat-button *ngIf="modStatusLoaded && modStatus.CurrentStatus == 'ModInstalled'" ><mat-icon>undo</mat-icon></button>

    <button matTooltip="Sync the current configuration to Beat Saber." *ngIf="modStatusLoaded && modStatus.CurrentStatus == 'ModInstalled' && config?.IsCommitted === false && !disableSync()" (click)="commitConfig()" class="warning sync-spot right sync-button">
      Sync to Beat Saber
    </button>
    <button matTooltip="Beat On is processing, wait for it to finish to sync." class="right sync-spot sync-placeholder nosync" *ngIf="modStatusLoaded && modStatus.CurrentStatus == 'ModInstalled' && config?.IsCommitted === false && disableSync()">Processing...</button>
    <button matTooltip="Beat Saber is in sync." class="right sync-placeholder sync-spot" mat-button *ngIf="modStatusLoaded && modStatus.CurrentStatus == 'ModInstalled' && config?.IsCommitted === true && !appIntegrated" >Beat Saber Synced</button>
    <button matTooltip="Beat Saber is in sync." (click)="clickStartBeatSaber()"  class="sync-spot right sync-button happy" *ngIf="modStatusLoaded && modStatus.CurrentStatus == 'ModInstalled' && config?.IsCommitted === true && appIntegrated" >Start Beat Saber</button>
    <app-browser-nav matTooltip="Browse to web site." class="right top-button" (linkSelected)="linkSelected($event)" *ngIf="modStatusLoaded &&  modStatus.CurrentStatus == 'ModInstalled' && showBrowser"></app-browser-nav>
    
    <button matTooltip="Refresh" class="right top-button" fast-click (click)="clickRefresh()" @fade *ngIf="modStatusLoaded && modStatus.CurrentStatus == 'ModInstalled' && showRefreshButton" mat-stroked-button ><mat-icon>cached</mat-icon></button>
    <button matTooltip="Back" class="right top-button" fast-click (click)="clickBack()" @fade *ngIf="modStatusLoaded && showBackButton" mat-stroked-button><mat-icon>arrow_back</mat-icon></button>
    <app-download-indicator matTooltip="Downloads in progress" class="right top-button" *ngIf="modStatusLoaded"></app-download-indicator>
    <app-op-indicator matTooltip="Current Beat On operations that are in progress or have failed." class="right top-button" *ngIf="modStatusLoaded"></app-op-indicator>
    

    <div class="logo"></div>
  </mat-toolbar>
  <div  class="fullheight" fxLayout="column">
    <router-outlet fxLayout="column" [hidden]="!modStatusLoaded" ></router-outlet>
  </div>
  <mat-card *ngIf="!modStatusLoaded || (this.config.Config == null && modStatus.CurrentStatus == 'ModInstalled')">
      <div fxLayout="column" *ngIf="!modStatusLoaded" >
        <h3>Checking mod installation status...</h3>
      </div>
  
      <div *ngIf="(modStatusLoaded && this.config.Config == null && modStatus.CurrentStatus == 'ModInstalled')" fxLayout="column" >
      <h3>
      Loading configuration... depending on how many songs are loaded, Beat On may take 5-90 seconds to load...
    </h3></div>
  </mat-card>

</div>

