.app-content {
  display: block;
  height: 100%;
}

.goodCon {
  color: green;
}

.badCon {
  color: red;
}

.orangeCon {
  color: orange;
}

.toolbar {
  min-height: 50px;
  height: 50px;
  display: block !important;
}

.sync-spot {
  width: 155px;
  height: 39px;
}

.sync-placeholder {
  margin-top: 6px;
}

.undo-spot {
  margin-top: 6px;
  color: #ff5722;
  margin-left: 6px;
  margin-right: 6px;
}

.top-button {
  margin-top: 6px;
  margin-right: 1.5em;
}

.sync-button {
  margin-top: 7px;
}

.logo {
  background: url("../assets/logo.png") no-repeat center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 50px;
  width: 150px;
}

.nowifi {
  position: absolute;
  top: -2px;
  left: -2px;
  color: red;
  font-size: 32px;
  //text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.credits li {
  margin-bottom: 15px;
}

.connectionStatus {
  margin-top: 9px;
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.wifi {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 32;
}

.nosync {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  background-color: darkgoldenrod;
  height: 26px;
  width: 140.63px;
}

.right {
  float: right;
}

.warning {
  height: 35px;
  background-color: #004a7f;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -webkit-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #b20000;
    -moz-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -moz-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -moz-box-shadow: 0 0 3px #b20000;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
}

@keyframes glowing {
  0% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
}

.happy {
  height: 35px;
  background-color: #004a7f;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  animation: glowing-happy 3500ms infinite;
}

@keyframes glowing-happy {
  0% {
    background-color: #20599d;
    box-shadow: 0 0 10px #20599d;
  }
  50% {
    background-color: #216bad;
    box-shadow: 0 0 20px #216bad;
  }
  100% {
    background-color: #20599d;
    box-shadow: 0 0 10px #20599d;
  }
}
