[submodule "QuestomAssets"]
	path = QuestomAssets
	url = https://github.com/emulamer/QuestomAssets
[submodule "beatsaber-hook"]
	path = beatsaber-hook
	url = https://github.com/emulamer/beatsaber-hook
[submodule "SyncSaberService"]
	path = SyncSaberService
	url = https://github.com/Zingabopp/SyncSaberService/
