<mat-card class="setup-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon aria-hidden="false" class="setup-icon">update</mat-icon>
      </div>
      <mat-card-title>Setup</mat-card-title>
      <mat-card-subtitle>Step 2</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Beat On will now patch Beat Saber to allow the ability to add custom levels and custom playlists.  This also adds the requirement for Beat Saber to have permissions to external storage.
    </mat-card-content>
    <mat-card-actions>
      <button (click)="clickBegin()" mat-raised-button color="accent">Patch Beat Saber</button>
    </mat-card-actions>
  </mat-card>