<section>
  <mat-card class="setup-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon aria-hidden="false" class="setup-icon">cloud_upload</mat-icon>
      </div>
      <mat-card-title>Mod Management</mat-card-title>
      <mat-card-subtitle>Manage all mods available for the quest here. Install, uninstall, and configure mods..</mat-card-subtitle>
      <div class="builtinMods">
          <mat-chip-list>
              <mat-chip [ngStyle]="{'background-color': leftColor}" cpPosition="left" [cpPositionOffset]="-30" [cpCmykEnabled]="false" 
              [(colorPicker)]="leftColor" 
              [cpAlphaChannel]="true" cpCloseClickOutside="true" cpOutputFormat="rgba"
              (colorPickerSelect)="leftColorSelected($event)" [cpOKButton]="true" cpOKButtonText="Save Color" selected><span class="colorName">Left Color</span></mat-chip>
              <mat-chip [ngStyle]="{'background-color': rightColor}" cpPosition="left" [cpPositionOffset]="-30" [cpCmykEnabled]="false" 
              [(colorPicker)]="rightColor" 
              [cpAlphaChannel]="true" cpCloseClickOutside="true" cpOutputFormat="rgba"
              (colorPickerSelect)="rightColorSelected($event)" [cpOKButton]="true" cpOKButtonText="Save Color" selected><span class="colorName">Right Color</span></mat-chip>
            </mat-chip-list>
      </div>
    </mat-card-header>

  </mat-card>
</section>
<section class="container" >
  <div *ngIf="!config">No Mods!</div>
  <div fxFlex="60%">
    <mat-list>
      <!-- [class.selected]="mod === selectedMod" (click)="onSelect(mod); myModal.open()" -->
        <mat-list-item class="modContainer" *ngFor="let mod of config.Mods" >
          <div [ngStyle]="{'background-image': getModBG(mod)}" class="modCategory"></div>
          <div matTooltip="Delete the mod from Beat On." (click)="clickDeleteMod(mod)" class="deleteMod"><mat-icon>delete_forever</mat-icon></div>
          <h1 matLine> {{ mod.Name }} <span class="version">{{ mod.Version }}</span></h1>
          <h4 matLine> by {{ mod.Author }}<span *ngIf="mod.Porter">, ported by: {{ mod.Porter }}</span></h4>
          <div matLine class="description"> {{ mod.Description }}</div>
          

          <div matLine class="footer">
            <div class="modUrl" *ngIf="mod?.InfoUrl?.length"><a [href]="mod.InfoUrl">More Information</a></div>
            
            <div class="toggleContainer">
              <div *ngIf="modIDBeingSwitched != mod.ID" class="toggleSpinner"></div>
              <mat-progress-spinner *ngIf="modIDBeingSwitched == mod.ID" class="toggleSpinner" mode="indeterminate"  diameter="20"></mat-progress-spinner>
            <mat-slide-toggle class="toggle" [disabled]="modSwitchInProgress" (change)="toggleMod($event, mod)" ([ngModel])="null" [checked]="getModSwitch(mod)"></mat-slide-toggle>
          </div>
          <span class="enabledtext" [ngClass]="{'active': (mod.Status == 'Installed')}">Mod {{ (mod.Status == 'Installed')?"Active":"Inactive"}}:</span>
        </div>

        </mat-list-item>
    </mat-list>
  </div>

</section>
<ngx-smart-modal #myModal [identifier]="'myModal'">
  <div *ngIf="myModal.hasData()">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="myModal.close()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel2" *ngIf="selectedMod">{{ selectedMod.Name }}</h4>
    </div>
    <div class="modal-body">
      <section class="mat-typography">
        <h3 class="mat-display-1" *ngIf="selectedMod"> Created by: {{ selectedMod.Author }}</h3>
        <p *ngIf="selectedMod"> {{ selectedMod.Description }} </p>
        <button mat-raised-button="" class="md-raised md-primary">Install</button>
        <a *ngIf="selectedMod" href="{{ selectedMod.InfoUrl }}" > More Info </a>
      </section>
    </div>
  </div>
</ngx-smart-modal>
