.viewport {
  //   width: 600px;
  height: 49px;
  overflow-y: auto;
  margin-left: 300px;
}

.modContainer {
  height: 115px !important;
  h1,
  h3 {
    margin-left: 95px;
  }
  .mat-line {
    margin-left: 95px !important;
  }
}

.modCategory {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 95px;
  height: 115px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 0 0 5px;
}

.builtinMods {
  float: right;
  top: 103px;
}

.colorName {
  text-shadow: -1.5px 0 2px black, 0 1.5px 2px black, 1.5px 0 2px black, 0 -1.5px 2px black;
}

.container {
  height: 330px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.description {
  margin-top: 5px;
  font-style: italic;
  margin-left: 5px;
  text-align: justify;
  white-space: pre-line !important;
}

.deleteMod {
  float: right;
  position: absolute;
  top: 3px;
  right: 3px;
  color: orangered;
}

.modUrl a {
  color: white;
}

.header {
  margin-top: 20px;
}

.version {
  font-size: 14px;
  color: darkgray;
  margin-left: 5px;
}

.content {
  font-style: italic;
  margin-left: 15px;
  margin-right: 15px;
  text-align: justify;
}

.modUrl {
  float: left;
  margin-top: 5px;
  margin-bottom: 0px;
}

.footer {
  margin-top: 20px !important;
}

.modId {
  color: darkgray;
  font-size: 8px;
  height: 10px;
  position: absolute;
  left: 5px;
  top: 5px;
}

.enabledtext {
  font-size: 14px;
  float: right;
  margin-top: 4px;
  color: darkgray;
  &.active {
    font-weight: bold;
  }
}

.selected {
  background-color: #828282 !important;
  color: white;
}

mat-list-item {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #404040;
  margin: 0.5em;
  padding: 0.3em 0 0.9em;
  height: 1.6em;
  border-radius: 4px;
  &:hover {
    background-color: #474747;
    left: 0.1em;
  }
  &.selected:hover {
    background-color: #636363 !important;
    color: white;
  }
}

.toggleContainer {
  display: block;
  float: right;
  width: 65px;
  margin-right: 6px;
}

.toggle,
.toggleSpinner {
  display: inline-block;
}

.toggleSpinner {
  margin-bottom: -3px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.description {
  font-size: 12px;
  white-space: pre-wrap;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 700px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
}
