   <div class="container" >
        <button fast-click layout="center center" (click)="clickAddPlaylist()" class="addPlaylist()" mat-raised-button color="accent"><mat-icon>add_circle</mat-icon></button>
      <ngu-carousel  #myCarousel [inputs]="carouselTile" [dataSource]="playlists" >
          <button fast-click NguCarouselPrev class='leftRs'><mat-icon class="arrow">details</mat-icon></button>
        <ngu-item 
        cdkDropList 
        (cdkDropListDropped)="playlistDrop(item, $event)" 
        NguCarouselItem class="bannerstyle" *nguCarouselDef="let item; let j = index" 
        [ngClass]="{'zoomedIn': item === selected, 'zoomedOut': item != selected }" (click)="onTileClick(item)" >
            <div class="tile"  [style.background]="getBackground(item)" >
            <div class="titleText">{{ item.PlaylistName }}</div>
            <div (click)="clickEditPlaylist(item)" class="playlistEdit"><mat-icon>edit</mat-icon></div>
          </div>
          
        </ngu-item>
        
          <button fast-click NguCarouselNext class='rightRs'><mat-icon class="arrow">details</mat-icon></button>
      </ngu-carousel>
    </div>
