<!-- <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
    <ngu-tile *nguCarouselDef="let item; let i = index"> -->
   <div class="container" >
        <button layout="center center" (click)="clickAddPlaylist()" class="addPlaylist()" mat-raised-button color="accent"><mat-icon>add_circle</mat-icon></button>
      <ngu-carousel  #myCarousel [inputs]="carouselTile" [dataSource]="playlists" >
          <button NguCarouselPrev class='leftRs'><mat-icon class="arrow">details</mat-icon></button>
        <ngu-item 
        cdkDropList 
        (cdkDropListDropped)="playlistDrop(item, $event)" 
        NguCarouselItem class="bannerstyle" *nguCarouselDef="let item; let j = index" 
        [ngClass]="{'zoomedIn': item === selected, 'zoomedOut': item != selected }" (click)="onTileClick(item)" >
            <div class="tile"  [style.background]="getBackground(item)" >
            <div class="titleText">{{ item.PlaylistName }}</div>
            <div (click)="clickEditPlaylist(item)" class="playlistEdit"><mat-icon>edit</mat-icon></div>
          </div>
          
        </ngu-item>
        <!-- <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
        <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button> -->
        <!-- <ul class="myPoint" NguCarouselPoint>
          <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"
           ></li>
        </ul> -->
        
          <button NguCarouselNext class='rightRs'><mat-icon class="arrow">details</mat-icon></button>
      </ngu-carousel>
    </div>
    <!-- </ngu-tile>
    <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
    <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button>
    <ul class="myPoint" NguCarouselPoint>
      <li *ngFor="let i of myCarousel.pointNumbers; let i = index" [class.active]="i==myCarousel.activePoint" (click)="myCarousel.moveTo(i)"
        [style.background]="'url(' + carouselTileItems[i] + ')'"></li>
    </ul>
  </ngu-carousel> -->