
  
  <button class="sort" *ngIf="playlist && playlist.SongList" fast-click mat-raised-button [matMenuTriggerFor]="menu" mat-button color="accent" >
      <mat-icon>sort</mat-icon>
  </button>  <div class="songCount" *ngIf="playlist && playlist.SongList">{{ playlist?.SongList?.length }} song(s) in {{ playlist?.PlaylistName }}</div>
  
  <mat-menu #menu="matMenu">
    <button fast-click [matMenuTriggerFor]="subMenuName" mat-menu-item>Sort By Name</button>
    <button mat-menu-item [matMenuTriggerFor]="subMenuDifficulty">Sort By Difficulty</button>
  </mat-menu>
  
  <mat-menu #subMenuName="matMenu">
    <button (click)="clickSortName(false)" mat-menu-item>A-Z</button>
    <button (click)="clickSortName(true)" mat-menu-item>Z-A</button>
  </mat-menu>
  
  <mat-menu #subMenuDifficulty="matMenu">
    <button (click)="clickSortDifficulty(false)" mat-menu-item>Easy to Expert+</button>
    <button (click)="clickSortDifficulty(true)" mat-menu-item>Expert+ to Easy</button>
  </mat-menu>
  
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Shut down</button>
    <button mat-menu-item>Restart</button>
    <button mat-menu-item>Hibernate</button>
  </mat-menu>
    <cdk-virtual-scroll-viewport itemSize="50" class="viewport"
    cdkDropList id="songs-drop-list" cdkDropListConnectedTo="playlist-drop-list" 
    [cdkDropListData]="playlist"  (cdkDropListDropped)="drop($event)"> 
        <!-- *cdkVirtualFor -->
        <mat-card class="song" *cdkVirtualFor="let song of songlist" cdkDrag [attr.songid]="song.SongID">
          <div cdkDragHandle>
          <div class="handle" >
              <hr width="1" height="40" /><hr width="1" height="40" />
              <hr width="1" height="40" /><hr width="1" height="40" />
              </div>
          <img class="songCover" [src]="getBackground(song)" />
        </div>
          <div class="songNames">
            <div class="songTitle">{{song?.SongName}}</div>
            <div class="songArtist">{{song?.SongAuthorName}}</div>
            <div *ngIf="song?.LevelAuthorName?.length" class="mapper">Mapped By {{song?.LevelAuthorName}}</div>
          </div>
          <div (click)="clickDeleteSong(song)" class="deleteSong"><mat-icon>delete_forever</mat-icon></div>
        </mat-card>
      </cdk-virtual-scroll-viewport>
     
    




  
    
