<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <mat-card class="song" *cdkVirtualFor="let song of playlist.SongList" >
          <img class="songCover" [src]="getBackground(song)" />
          <div class="songNames">
            <div class="songTitle">{{song.SongName}}</div>
            <div class="songArtist">{{song.SongAuthorName}}</div>
            <div *ngIf="song.LevelAuthorName.length" class="mapper">Mapped By {{song.LevelAuthorName}}</div>
          </div>
        </mat-card>
</cdk-virtual-scroll-viewport>

