<mat-card fxLayout="column">
  <h2>Credits to BSMG crew in general, and in particular:</h2>
  <ul class="credits">
    <li><b>Sc2ad</b>: code contributor, code reviewer, lots of work on hook mods, lots of discussion and feedback</li>
    <li><b>jakibaki</b>: beat-saber hook (making the really cool stuff possible)</li>
    <li><b>Agent42</b>: extraordinary testing and support (if it works at all, thank him)</li>
    <li><b>Yuuki</b>: code contributor, code documentarian</li>
    <li><b>shaneharris</b>: code contributor, advice, especially on the angular and android side of things</li>
    <li><b>elliotttate</b>: inspiration, support and the awesome logos</li>
    <li><b>karldeux</b>: code contributor, project wrangler</li>
    <li><b>Zingabopp</b>: Sync Saber Service</li>
    <li><b>lolpants</b>: everything lolpants does.</li>
    <li><b>emulamer</b>: did some stuff</li>
  </ul>
  </mat-card>