/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';
html, body { height: 100%; }
body { background-color: #424242; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fullheight { height: 100% }

.browserNavMenu {
    height: 40px;
    max-width: 600px !important;

    margin-left: -200px;
}
::-webkit-scrollbar {
  height: 16px;
  width: 12px;
  background: #424242;
}
::-webkit-scrollbar-corner {
  background:#424242;
}
::-webkit-scrollbar-thumb {
  background:  #cfcfcf;
  border-radius: 4px;
}

.hide-scroll-bar::-webkit-scrollbar {
  width: 0;
}
.hide-scroll-bar::-webkit-scrollbar-thumb {
  width: 0;
}
