/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';
@import "~ngx-smart-modal/ngx-smart-modal";
html, body { height: 100%; }
body { background-color: #424242; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fullheight { height: 100% }

.browserNavMenu {
    height: 40px;
    max-width: 600px !important;

    margin-left: -200px;
}
