<mat-card class="setup-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon aria-hidden="false" class="setup-icon">update</mat-icon>
      </div>
      <mat-card-title>Setup</mat-card-title>
      <mat-card-subtitle>Step 3</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Beat On will now reinstall modded Beat Saber.  Upon launching Beat Saber you will be prompted to allow Beat Saber permissions to access external storage.  This will only happen once.</p>
        <p>If you do not already have untrusted sources enabled, you may be prompted to "allow untrusted sources" and will be directed to the settings page where you will need to turn on the option.</p>
          <h2 style="color: red">IMPORTANT</h2>
          <ul>
            <li>After installation has completed, choose the <b style="color: green">DONE</b> button.  Do not press the OPEN button, Beat Saber will not launch from here.</li>
            <li>When the modded APK gets installed, it will probably tell you that you don't have "untrusted sources" enabled and will offer to take you to the settings page.  Go to the settings page, and turn on the switch for allowing untrusted sources, then you can continue installing the modded APK.</li>
          </ul>
    </mat-card-content>
    <mat-card-actions>
      <button fast-click (click)="clickBegin()" mat-raised-button color="accent">Install Modded Beat Saber</button>
    </mat-card-actions>
  </mat-card>