
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed !important;
  margin: auto !important;
  width: 600px !important;
  height: 100% !important;
  -webkit-transform: translate3d(0%, 0, 0) !important;
  -ms-transform: translate3d(0%, 0, 0) !important;
  -o-transform: translate3d(0%, 0, 0) !important;
  transform: translate3d(0%, 0, 0) !important;
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100% !important;
  overflow-y: auto !important;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px !important;
}

.modal.right.fade .modal-dialog {
  right: -320px !important;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out !important;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out !important;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out !important;
  transition: opacity 0.3s linear, right 0.3s ease-out !important;
}

.modal.right.fade.in .modal-dialog {
  right: 0 !important;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0 !important;
  border: none !important;
}

.modal-header {
  border-bottom-color: #eeeeee !important;
  background-color: #fafafa !important;
}
